
body {
  background-image: url('http://i.imgur.com/SYY2mJz.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#demo-header {
  background: rgba(55, 61, 73, 0.976) none repeat scroll 0 0;
  box-shadow: none;
  color: #fff;
  cursor: default;
  font-size: 0.9em;
  height: 3.75em;
  left: 0;
  position: fixed;
  top: 0;
  transition: top 0.25s ease-in-out 0s;
  width: 100%;
  z-index: 10000;
}

h1 {
  display: inline-block;
  float: left;
  font-weight: 600;
  height: 2.75em;
  letter-spacing: -0.5px;
  line-height: 2.75em;
  margin: -0.2em 1.25em 0 0.5em;
}

.right {
  display: inline-block;
  float: right;
  color: #2dc0ea;
  font-weight: 600;
  height: 2.75em;
  letter-spacing: -0.5px;
  line-height: 2.75em;
  margin: 1em 1.25em 0 0.5em;
}

#sidebar {
  opacity: 0.8;
  float: left;
  padding: 23em 15em 3.5em;
  background-color: #8addaa;
  margin: 7em 1.25em 0 2em;
}

#worktable {
  opacity: 0.8;
  float: right;
  padding: 23em 15em 3.5em;
  background-color: #8addaa;
  margin: 7em 2em 0 0.5em;
}

h2 {
  position:absolute;
  margin: -15em -10em 0em -8em;
}

form {
  position:absolute;
  margin: -20em -10em 0em -14em;
}
