
body {
  background-image: url('backg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#demo-header {
  background: rgba(55, 61, 73, 0.976) none repeat scroll 0 0;
  box-shadow: none;
  color: #fff;
  cursor: default;
  font-size: 0.9em;
  height: 3.75em;
  left: 0;
  position: fixed;
  top: 0;
  transition: top 0.25s ease-in-out 0s;
  width: 100%;
  z-index: 10000;
}

h1 {
  display: inline-block;
  float: left;
  font-weight: 600;
  font-size: xx-large;
  height: 2.75em;
  letter-spacing: -0.5px;
  padding-left: 15px;
  margin-top:5px;
}

#right {
  display: inline-block;
  float: right;
  color: #2dc0ea;
  font-weight: 800;
  height: 2.75em;
  line-height: 2.75em;
  padding-right: 20px;
  padding-top: 10px
}

#sidebar {
  opacity: 0.8;
  width: 700px;
  background-color: #8addaa;
  height: 500px;
  margin-top: 87px;
  margin-left: 30px;
  margin-right: 60px;
}

#worktable {
  opacity: 0.7;
  width: 570px;
  height: 500px;
  background-color: #8addaa;
  margin-top: 87px;
}

h2 {

}

form {
  position:absolute;
}

.table {
  table-layout:fixed;
  margin-top: 10px;
}

#scorll {
  height: 330px;
  overflow: auto;
  margin-top:-18px;
}
